.post-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: stretch;
    gap: 20px;
    
}
.post-section{
    background-color:ghostwhite
    ;
    padding: 30px;
}
.card-img{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
 h1 {
   color: #54595F;
   font-size: 25px;

}
.title{
    color: #54595F;
    font-size: 25px; 
}
