.backgr{
    background-color: #f6dde6
    ;
    width: 100%;
    height: 250px;
   
}
.card-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 20px;
    margin-top: 50px;
}
.singleart{
    display: flex;
    flex-direction:column;
    align-content:flex-end;
    gap: 120px;
}
.singleimg{
    padding: 120px;
}
.text{
    color: #54595F;
    font-size: 16px;
    font-family: extrasquare;
    text-align: left;

}