.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-top: 1rem;
    padding: 1rem; */
    background-color: rgb(254, 254, 254);
    position: static;
    /* bottom: 0;
    left: 0; */
    width: 100%;
    color: rgb(72, 71, 71);
    margin-top: 15px;
}